body {
  font-family: 'Rubik', sans-serif;
  background-color: #bdc1c7;
  font-size: 24px;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  user-select: none;
  pointer-events: none;
}

.zhukova,
.liza,
.kuzina {
  width: 10vw;
}

.zhukova {
  top: 3vw;
  left: 25vw;
}

.liza {
  top: 0;
  left: 0;
}

.kuzina {
  top: 17vw;
  left: 6vw;
}

.ales {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20vw;
}

.modal {
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 2%;
  text-align: center;
  width: 25vw;
  background-color: greenyellow;
  border: 2px solid green;
  border-radius: 50px;
  transition-duration: 0.5s;

  &:not(.is-visible) {
    translate: -50% 50vw;
    bottom: 0;
    opacity: 0;
  }
}

.draggable {
  position: absolute;
  z-index: 1;
  cursor: grab;
  transition-property: scale, opacity;
  transition-duration: 0.2s;
  touch-action: none;
}

.draggable.is-dragging {
  cursor: grabbing;
  opacity: 0.5;
  scale: 1.05;
}

@media(max-width: 767px) {
  .zhukova,
  .liza,
  .kuzina {
    width: 25vw;
  }

  .ales {
    width: 30vw;
  }

  .modal {
    width: 55%;
    left: 30%;
    white-space: nowrap;
  }
}